In [1]:
#Aula14 Manipulação de Dataframes
import pandas as pd
alunosDIC = {'Nome':['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
          'Nota':[4, 7, 5.5, 9], 
          'Aprovado':['Nao', 'Sim', 'Nao', 'Sim']}

In [2]:
alunosDF = pd.DataFrame(alunosDIC)

In [3]:
print(alunosDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      Nao
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao
3   Carlos   9.0      Sim

In [4]:
#Imprime todos os dados da coluna Nome filtragem (fatiamento) colunas
alunosDF['Nome']

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
Name: Nome, dtype: object

In [7]:
#Filtrar por linhas nesse exemplo a linha do indice 1 e indice 2
alunosDF.loc[[1, 2]]

      Nome  Nota Aprovado
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao

In [9]:
#Filtrar por linhas nesse exemplo a linha do indice 0 até o indice 2 usando os :
alunosDF.loc[0:2]

      Nome  Nota Aprovado
0  Ricardo   4.0      Nao
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao

In [10]:
#Filtrar por linhas nesse exemplo do início do dataframe até o indice 2 usando os :
alunosDF.loc[:2]

      Nome  Nota Aprovado
0  Ricardo   4.0      Nao
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao

In [13]:
#Filtrar por linhas nesse exemplo do indice 1 até o final do dataframe usando os :
alunosDF.loc[1:]

      Nome  Nota Aprovado
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao
3   Carlos   9.0      Sim

In [14]:
#Filtra apenas a linha cujo o nome = Pedro
alunosDF.loc[alunosDF['Nome']=='Pedro']

    Nome  Nota Aprovado
1  Pedro   7.0      Sim

In [15]:
#Aula15 Manipulaçãao linhas em dataframes
alunosDF.loc[0:2]

      Nome  Nota Aprovado
0  Ricardo   4.0      Nao
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao

In [16]:
#Excluir linhas, nesse caso copia os indices de 0 ao 2 para uma nova variável
primeiraslinhas = alunosDF.loc[0:2]
print(primeiraslinhas)

      Nome  Nota Aprovado
0  Ricardo   4.0      Nao
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao

In [20]:
#filtragem por condição nesse caso todas as linhas onde a coluna nota dor diferente de 9
novoDF = alunosDF.loc[alunosDF['Nota']!=9]
print(novoDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      Nao
1    Pedro   7.0      Sim
2  Roberto   5.5      Nao

In [24]:
alunosReprovados = alunosDF.loc[alunosDF['Aprovado']!='Sim']
print(alunosReprovados)

      Nome  Nota Aprovado
0  Ricardo   4.0      Nao
2  Roberto   5.5      Nao